/* .details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-list-empty-text {
  content: "No performers found. :(";
}

.details {
  padding: 20px 5px 20px 5px;
}

.headerSearch {
  width: 15%;
} */
