/* body, html {
  height: 100vh;
  width: 100%;
}

.eventsList {
  width: 33%;
  float: left;
  height: 100vh;
}

.eventsMap{
  height: 100%;
  width: 33%;
  float: left;
}

.eventDetails {
  float: left;
  width: 33%;
  height: 100vh;
} */

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .details-item {
  justify-content: center;
} */

.ant-list-empty-text {
  content: "No performers found. :(";
}

.details {
  padding: 20px 5px 20px 5px;
}
