body, html {
  height: 100vh;
  width: 100%;
}

.eventsList {
  width: 33%;
  float: left;
  height: 100vh;
}

.eventsMap{
  height: 100%;
  width: 33%;
  float: left;
}

.eventDetails {
  float: left;
  width: 33%;
  height: 100vh;
}