/* .App {
}

.App-header {
  background-color: #CCC;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-message {
  font-weight: bold;
} */
/* ~~~~~~~~~~~~~~~ */
@import '~antd/dist/antd.css';

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, .2);
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-steps-vertical .ant-steps-item-content {
  min-height: 48px;
  overflow: hidden;
  display: table;
} 

.navbar-right{
  float: right;
}


.sendRequestButton {
	position:fixed;
	width:60px;
	height:60px;
  bottom:7%;
	right:5%;
	border-radius:50px;
	background-color:#0C9;
	color:#FFF;
}
#negativeButton{
  background-color:rgb(205, 24, 24);
  color: white;
}
#positiveButton{
  background-color:rgb(0, 102, 255);
  color: white;
}

a.sendRequestButton.ant-btn {
  line-height: 55px;
}

.ant-card-bordered {
  border: 1px solid #041528;
}

.ant-steps-label-horizontal {
  padding: 3% 0 3% 0
}

/* .twitter-login {
  float: right;
  margin-top: 15px;
} */

/* .SearchBox {
  width: 35vw;
} */

.ant-layout-header {
  padding: 0 25px;
  height: 10vh;
  line-height: 85px;
}

.ant-col-8 {
  padding: 5px;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-list-empty-text {
  content: "No performers found. :(";
}

.details {
  padding: 20px 5px 20px 5px;
}

.headerSearch {
  width: 15%;
}